<h2 mat-dialog-title>Select Format</h2>
<mat-dialog-content class="dialog-content-custom">
  <p class="text-lg text-gray-700 mb-6">Choose your preferred download format:</p>
  <div class="button-group">
    <button mat-raised-button [color]="themeService.getTheme()" (click)="selectFormat('pdf')" class="format-button">
      <mat-icon>picture_as_pdf</mat-icon> Download as PDF
    </button>
    <button mat-raised-button [color]="themeService.getTheme()" (click)="selectFormat('docs')" class="format-button">
      <mat-icon>description</mat-icon> Download as .docs
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-actions-custom">
  <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
</mat-dialog-actions>
